body{
    background:url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

header{
    color:#fff;
    font-size:35px;
    text-align:center;
    font-style:italic;
    background-color: #f03;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}

footer{
    background-color: #f01;
    font-size:20px;
    border-radius:25px;
    box-shadow:5px 3px #00a;
   
}

footer>a{
    text-decoration-style:none;
}