body{
    background:url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

header{
    color:#fff;
    font-size:35px;
    text-align:center;
    font-style:italic;
    background-color: #f03;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    
}

.card{
    width:500px;
    margin: 10% 40%;
    border-radius:5%;
}

.btn-success{
    border-radius:20px;
    box-shadow: 3px 3px #001;
}

footer{
    background-color: #f01;
    font-size:20px;
    border-radius:25px;
    box-shadow:5px 3px #00a;
    margin: 20% 20% auto;
}

footer>a{
    text-decoration-style:none;
}

@media screen and (max-width:350px) {
    .card{
        width:300px;
        margin: 10% 5%;
        border-radius:5%;
    }
}