body{
    background:url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

footer{
    background-color: #f01;
    font-size:20px;
    border-radius:25px;
    box-shadow:5px 3px #00a;
}

footer>a{
    text-decoration-style:none;
}