body{
    background:url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

img.profile-image{
    border-radius:50%;
}

.card{
    margin:15px 35%;
    border-radius:20%;
}

.card-title{
    text-align:center;
    color:#f11;
    font-size:25px;
}

h2.education{
    margin: 3% 20%;
    color: #ff3;
}

.container-education{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    flex-direction:row;
    gap:40px;
}

.card-education{
    flex:1;
    font-size:20px;
    color: #fff;
    background-color: #f03;
    border-radius:10%;
}



.card-image{
    height:200px;
    width:200px;
    border-radius:50%;
}


footer{
    background-color: #f01;
    font-size:20px;
    border-radius:25px;
    box-shadow:5px 3px #00a;
}

footer>a{
    text-decoration-style:none;
}