body{
    background:url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

img.profile-image{
    border-radius:50%;
}

.card{
    margin:15px 45%;
}



