body{
    background:url('/assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

header{
    color:#fff;
    font-size:35px;
    text-align:center;
    font-style:italic;
    background-color: #f03;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}

img.profile-image{
    width:150px;
    height: 190px;
    border-radius: 80%;
    margin:2px 25%;
}

.card{
    margin:15px 44%;
    border-radius:10%
}

.card-title{
    text-align:center;
    color:#f11;
    font-size:25px;
    font-style: italic;
}

.education{
    margin: 5% 20%;
    color: #ff3;
    background-color: #f11;
    text-align:center;
    border-radius:50%;
}

.container-education{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    flex-direction:row;
    gap:40px;
}

.card-education-one{
    flex:1;
    font-size:20px;
    color: #fff;
    background-color: #f03;
    border-radius:10%;
}

.card-education-one:hover{
    transform:scale(1.1);
}

.card-education-two{
    flex:1;
    font-size:20px;
    color: #fff;
    background-color: #f03;
    border-radius:10%;
}

.card-education-two:hover{
    transform:scale(1.1);
}

.card-education-three{
    flex:1;
    font-size:20px;
    color: #fff;
    background-color: #f03;
    border-radius:10%;
}

.card-education-three:hover{
    transform:scale(1.1);
}

.card-education-four{
    flex:1;
    font-size:20px;
    color: #fff;
    background-color: #f03;
    border-radius:10%;
}

.card-education-four:hover{
    transform:scale(1.1);
}


.card-image{
    margin-top:5px;
    height:200px;
    width:200px;
    border-radius:50%;
    cursor:pointer;
}


footer{
    background-color: #f01;
    font-size:20px;
    border-radius:25px;
    box-shadow:5px 3px #00a;
}

footer>a{
    text-decoration-style:none;
}




@media  screen and  (max-width:768px){
    .container-education{
        display:flex;
        justify-content:center;
        align-items:center;
        text-align:center;
        flex-direction:column;
    }
    
    .card{
        margin:15px 5%;
        border-radius:20%;
    }
    

    .card-education-one,.card-education-two,
    .card-education-three,.card-education-four{
        width:350px;
    }
}